<div class="ui-dev-mode"><{$smarty.template}></div>


<{* ----- Breadcrumb - Archive & RSS ----- *}>
<{include file="db:`$mydirname`_head.html"}>


<{* ----- Article Item ----- *}>
<{include file="db:`$mydirname`_item.html" story=$story}>


<{* ----- Pagination ----- *}>
<{if $pagenav}>
<div class="pagination"><{$pagenav}></div>
<{/if}>


<hr>


<{* ----- RELATED ARTICLES ----- *}>
<{include file="db:`$mydirname`_relations.html"}>


<{* ----- CATEGORY RECENT NEWS ----- *}>
<{include file="db:`$mydirname`_category.html"}>


<hr>


<{* ----- COMMENTS ----- *}>
<{if $mod_config.comment_dirname != '' && $mod_config.comment_forum_id > 0}>

    <{d3comment class="BulletinD3commentStory" mydirname=$mydirname}>

    <{else}>

    <div style="text-align: center;">
        <{$commentsnav}>
        <{$lang_notice}>
    </div>

    <{* ----- COMMENT LOOP ----- *}>
    <div>
        <{if $comment_mode == "flat"}>
            <{include file="db:system_comments_flat.html"}>
        <{elseif $comment_mode == "thread"}>
            <{include file="db:system_comments_thread.html"}>
        <{elseif $comment_mode == "nest"}>
            <{include file="db:system_comments_nest.html"}>
        <{/if}>
    </div>

<{/if}>

<{* ----- NOTIFICATION ----- *}>
<{include file='db:system_notification_select.html'}>
