<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $category_storeis}>
<h3><a href="<{$mydirurl}>/index.php?storytopic=<{$story.topicid}>"><{$story.topic}></a></h3>
    <ul class="itemInfo">
        <{foreach item=c from=$category_storeis}>
        <li><a href="<{$mydirurl}>/index.php?page=article&amp;storyid=<{$c.storyid}>"><{$c.title}></a></li>
        <{/foreach}>
    </ul>
<{/if}>

<{* These tags available.
<{$c.date}> : date
<br>
<{$c.uid}> : Poster's uid.
<br>
<{$c.uname}> : Poster's uname.
<br>
<{$c.realname}> : Poster's real name.
<br>
<{$c.counter}> : Number of view.
<br>
<{$c.comments}> : Number of comments.
<br>
*}>
