<{* Breadcrumbs [PANKUZU] *}>
<div class="ui-dev-mode"><{$smarty.template}></div>
<{if $pankuzu}>
<ul class="breadcrumb" aria-label="breadcrumb" style="border:1px solid red;">
    <li title="<{$smarty.const._MB_LEGACY_HOME}> : <{$smarty.const._YOURHOME}>">
        <a href="<{$xoops_url}>/"><img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" width="1em" height="1em" alt="home"></a>
    </li>
    <{foreach item=p from=$pankuzu name=pankuzu}>
        <{if $smarty.foreach.pankuzu.last}>
        <li aria-current="page"><{$p.topic_title}></li>
        <{else}>
        <li><a href="<{$mydirurl}>/index.php?storytopic=<{$p.topic_id}>"><{$p.topic_title}></a></li>
        <{/if}>
    <{/foreach}>
</ul>
<{/if}>


<div style="float:right">
 |&nbsp;<a href="<{$mydirurl}>/index.php?page=archive" title="<{$smarty.const._MD_ARCHIVES}>"><{$smarty.const._MD_ARCHIVES}></a>
    &nbsp;
<{if $can_post}>
|&nbsp;<a href="<{$mydirurl}>/index.php?page=submit" title="<{$smarty.const._MD_SUBMITNEWS}>"><{$smarty.const._MD_SUBMITNEWS}></a>
<{if $storytopic}>&nbsp;[ <a href="<{$mydirurl}>/index.php?page=submit&amp;topicid=<{$storytopic}>" title="<{$smarty.const._MD_SUBMITNEWS}>"><{$storytopic_title}></a> ]<{/if}>
    &nbsp;
<{/if}>
  <{if $disp_rss_link}>
    |&nbsp;<a href="<{$mydirurl}>/index.php?page=rss" title="<{$smarty.const._MD_RSS}>"><{$smarty.const._MD_RSS}></a>
  <{/if}>
  &nbsp;|
</div>
<div style="clear: both ; height:0px; visibility:hidden;"></div>

